[push]
	default = current
[user]
	name = Simon Hansen
	email = s.hansen@digital-h.de
[core]
	autocrlf = input
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
